@media screen and (min-width: 768px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .advantages__container {
    background-color: $secondary-title-text;
  }
  .advantages__list {
    margin-right: -30px;
    display: flex;
  }
  .advantages__item {
    min-width: 270px;
    margin-right: 30px;
  }
  .advantages__icon {
    width: 270px;
    height: 120px;
    background-color: $second-background-color;
    margin-bottom: 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .advantages__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-title-text;
  }
  .advantages__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }
}
