.subscription {
  align-items: baseline;
  text-align: left;
}
.subscription__strong {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-title-text;
}
.subscription__form {
  display: flex;
  justify-content: center;
  align-items: center;
  & input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03;
    color: rgba(255, 255, 255, 0.6);
  }
}
.input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $background-color;
  color: $secondary-title-text;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}
.subscription__button {
  display: flex;
  min-width: 200px;
  background-color: $accent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $secondary-title-text;
  cursor: pointer;
  border: none;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 29px;
  margin-left: 12px;
}

.subscription__icon {
  fill: $secondary-title-text;
  margin-left: 10px;
}
