.network {
  text-align: center;
  margin-right: auto;
  margin-top: 60px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    align-items: baseline;
    text-align: center;
    margin-left: 165px;
    margin-top: 5px;
  }
  @media screen and (min-width: 1200px) {
    align-items: baseline;
    text-align: left;
    margin-right: auto;
    margin-top: 0;
  }
}
.network__strong {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-title-text;
}
.network__list {
  padding: 0;
  display: flex;
  justify-content: center;
}
.network__item {
  margin-right: 10px;
  justify-content: center;
  &:last-child {
    margin-right: 0;
  }
}
.network__link {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 22px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
.network__icon {
  fill: $secondary-title-text;
}
