.footer {
  background-color: $background-color;
  list-style: none;
  padding: 60px 0;
}
.footer__block {
  display: flex;
  align-items: baseline;
}
.contact__block {
  margin-right: 70px;
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
  padding: 0;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $accent-color;
  text-decoration: none;
}
.footer__logo--white {
  color: $secondary-title-text;
}
.address__item {
  margin-bottom: 9px;
  &:last-child {
    margin-bottom: 0;
  }
}
.address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $secondary-title-text;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.address__link--mail,
.address__link--tel {
  color: rgba(255, 255, 255, 0.6);
}
