.form__field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}
.form__field {
  input {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & input:focus,
  & input:hover {
    border: 1px solid $accent-color;
    & ~ .form__icons {
      fill: $accent-color;
    }
  }
}
.form__field:hover label {
  @media screen and (max-width: 767px) {
    color: $accent-color;
  }
}

.form__field {
  label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $primary-text-color;
  }
}
.form__field {
  textarea {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & textarea:focus,
  & textarea:hover {
    border: 1px solid $accent-color;
  }
}
.form__field--textarea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.form__icons {
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  transform: translate(12px, 29px);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send__button {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 50px;
  padding: 0;
  background-color: $accent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $secondary-title-text;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: box-shadow, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: $touch-accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
