.menu__button {
  display: inline-flex;
  padding: 10px 15px 10px 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;

  &.is-open .menu__close {
    display: block;
  }
  &.is-open .menu__open {
    display: none;
  }
}
.menu__close {
  display: none;
}

.menu__container {
  position: absolute;
  display: none;
  top: 100%;
  left: 0%;
  width: 100%;
  //   height: 796px;
  background-color: $secondary-title-text;
  &.is-open {
    display: block;
  }
}
