@media screen and (max-width: 767px) {
  .backdrop {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: scroll;
  }

  .is-hidden {
    opacity: 0;
    pointer-events: none;
    .modal {
      transform: translate(-50%, -50%) scale(0.9);
    }
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-width: 450px;
    padding: 40px 39px 40px 41px;
    background-color: $secondary-title-text;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (max-width: 479px) {
      min-width: 96vw;
    }
  }
  .modal__title {
    margin: auto;
    display: flex;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-title-text;
  }
  .modal__form {
    width: 100%;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
  }
  .modal__form {
    textarea::placeholder {
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
  }
  .close__button {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: $secondary-title-text;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }
}

@media screen and (min-width: 768px) {
  .backdrop {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .is-hidden {
    opacity: 0;
    pointer-events: none;
    .modal {
      transform: translate(-50%, -50%) scale(0.9);
    }
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-width: 528px;
    padding: 40px 39px 40px 41px;
    background-color: $secondary-title-text;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-title-text;
  }
  .modal__form {
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
  }
  .modal__form {
    textarea::placeholder {
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
  }
  .close__button {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: $secondary-title-text;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }
}
