.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: block;
}
.nav__item {
  padding-left: 40px;
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: 0;
  }
}
.nav__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $primary-title-text;
  text-decoration: none;

  &:focus,
  &:hover {
    color: $accent-color;
  }
  &--current {
    color: $accent-color;
  }
}

.logo {
  padding: 16px 0 16px 15px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $accent-color;
  text-decoration: none;
}
.header__logo {
  color: $third-text-color;
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
  }
  .nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $primary-title-text;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      color: $accent-color;
      fill: $accent-color;
    }
  }
  .nav__link--current {
    position: relative;
    color: $accent-color;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;
    }
  }
  .logo {
    margin-right: 93px;
    padding: 24px 0;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $accent-color;
    text-decoration: none;
  }
  .header__logo {
    color: $third-text-color;
  }
}
