.portfolio {
  display: block;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}
.portfolio__card {
  margin-bottom: 30px;
  &:nth-child(9) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 0;
    margin-bottom: 0;
    flex-basis: calc((100% - 60) / 2);
    background: $secondary-title-text;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 0;
    margin-bottom: 0;
    flex-basis: calc((100% - 90px) / 3);
    background: $secondary-title-text;
  }
}

.portfolio__link {
  display: block;
  cursor: pointer;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}
.product {
  padding: 20px 24px;
  border-bottom: 1px solid $second-border-color;
  border-left: 1px solid $second-border-color;
  border-right: 1px solid $second-border-color;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
    flex-grow: 1;
  }
}

.product__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $primary-title-text;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    word-wrap: break-word;
  }
}
.product__description {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}
