.social__list {
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 16px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 0 74px;
  }
}
.social__item {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}
.social__link {
  display: flex;
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: $icons-color;
  justify-content: center;
  align-items: center;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: $secondary-title-text;
  }
}
