@media screen and (min-width: 768px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section--team {
    background-color: $second-background-color;
  }
  .section__title--cards {
    margin-bottom: 50px;
  }
  .team__list {
    display: flex;
    margin-left: -30px;
  }
  .team__card {
    margin-left: 30px;
    flex-basis: calc(100% / 4 - 30px);
    background: $secondary-title-text;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}
