.section__work {
  padding-bottom: 94px;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
.work__container {
  background-color: $secondary-title-text;
}
.section__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $primary-title-text;
}
.work__list {
  display: flex;
  margin-left: -30px;
}
.work__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}
.work__thumb {
  position: relative;
  z-index: 1;
}
.thumb {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc(100% / 3 - 30px);
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.thumb__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-title-text;
}
